.content.with-footer
  %div
    .header.grid-background
      .header-main-info
        .header-links
          %a{ href: "#" }= "Explore"
          %a{ href: "#" }= "Pricing"
          %a{ href: "#" }= "FAQ"
          %a{ href: "#" }
            %button.small-btn.gradient-hover
              = "List meme"
              %span.text-muted.test-small= "(soon)"
        .header-logo
          %h1 MemesGate
        .header-buttons
          - if !current_user.present?
            = link_to login_path do
              %button.medium-btn.gradient-hover
                %span Login
                %span.text-muted.text-small - it's free
          - else
            = current_user
            = link_to logout_path, method: :delete do
              %button.medium-btn.gradient-hover
                %span Logout
      .header-additional-info
        %h2
          NEW ERA OF
          %span.colorized
            MEME СOINS
            %span.cursor-container
              .cursor
      .header-preview
        .text-left{ style: "width: 25%;" }
          %div
            %h5.text-muted{ style: 'width: 250px;' }
              MemeGate is your no-nonsense platform to real meme coins.
              Track the chaos, explore hand-picked tokens, and list your own with zero drama — just decentralized fun.
          %div{ style: 'margin-top: 25px;' }
            %button.medium-btn.gradient-hover
              %span How MemeGate works
        %div.text-muted{ style: "font-size: 18px;" }
          Secure. Grow. Repeat.
        .text-right{ style: "width: 25%;" }
          .text-right{ style: "font-size: 16px;" }
            %span.text-primary MemeGate. 
            Where memes become money.
            Get in early. Buy the coin — Own the future.
          %button.medium-btn.gradient-hover.brand-btn{ style: 'margin-top: 25px;' }
            %span Buy $MG
    .body

  .footer.text-muted
    %p
      © 2025 Crafted by MemeGate Team. All rights reserved.
